
= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited
        this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :Name
    %br/
    = f.text_field :name
  %p
    = f.label :Surname
    %br/
    = f.text_field :surname
  %p
    = f.label :Email
    %br/
    = f.text_field :email
  %p
    = f.label :body
    %br/
    = f.text_area :body
  = f.submit 'Save' , class: 'btn btn-primary btn-lg '



